body {
	height: 100vh;
	display: flex;
	margin: 0;
	font-size: 16px;
	font-family: 'Gotham', sans-serif;
}

section {
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
section:not(:last-child) {
	border-right: 1px solid #DDD;
}

.content {
	margin-bottom: 30px;
}

header {
	margin-bottom: 50px;
	text-align: center;
	height: 50px;
}

footer {
	margin-top: 50px;
	text-align: center;
}

h2, h3, h4 {
	margin: 0;
	font-weight: 600;
}

p {
	color: #999;
	margin: 0;
}


input, button {
	outline: 0;
	margin: 0;
	font-size: 16px;
}